<template>
  <main>
    <div class="search">
      <div style="display:inline-block; position:relative;">
        <MyInput v-model="inputValue" placeholder="Поиск по столбцам" :disabled="!sortKeyValue"/>
  <div v-if="!sortKeyValue" @click="check" style="position:absolute;left:0; right:0; top:0; bottom:0;"></div>
</div>
    <MySelect
        v-model="sortKeyValue"
        :options="columns"
        :class="{ 'blinking-border': shouldBlink===true }"
      />  
    </div>

    <div class="container">
      <table>
      <thead>
        <tr>
          <th @click="handleClick(column)" class="column-title" style="width: 10%;" v-for="(column,index) in columns" :key="index">
              {{ column.name }}
              <svg :class="{
        'icon-up': column.value === sortKey && sortOrder === 1,
        'icon-down': column.value === sortKey && sortOrder === -1
      }" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item) in sortedSearchedData" :key="item.o_id">
          <td>{{ item.o_id }}</td>
          <td>{{ item.client_name }}</td>
          <td>
            <div class="no-single" v-for="(diet,dietIndex) in item.diets" :key="dietIndex">
              <hr v-if="dietIndex>0">
              <span>
                {{ diet }}
              </span>
            </div>
          </td>
          <td>
            <div class="no-single" v-for="(tariff,tariffIndex) in item.tariff" :key="tariffIndex">
              <hr v-if="tariffIndex>0">
              <span>
                {{ tariff }}
              </span>
            </div>
          </td>
          <td>{{ item.address }}</td>
          <td>{{ item.phone }}</td>
          <td>
            <div class="no-single" v-for="(date,dateIndex) in item.dates" :key="dateIndex">
              <hr v-if="dateIndex>0">
              <span>
                {{ formatDate(date.start_date) }}-{{ formatDate(date.end_date) }}
              </span>
            </div>
          </td>
          <td>
            <span>
              Стоим: {{ item.order_sum }}
            </span><br/>
            <span>
              {{ item.pay_status }}
            </span><br/>
            <span>
              Долг: {{ item.order_sum - item.order_payed }}
            </span>
          </td>
          <td>
            <div class="comment">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-truck"><path d="M5 18H3c-.6 0-1-.4-1-1V7c0-.6.4-1 1-1h10c.6 0 1 .4 1 1v11"/><path d="M14 9h4l4 4v4c0 .6-.4 1-1 1h-2"/><circle cx="7" cy="18" r="2"/><path d="M15 18H9"/><circle cx="17" cy="18" r="2"/></svg>
            <span>
              {{ item.courier_comment }}
            </span>
            </div>
          </td>
          <td>
            <div class="comment">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-circle"><path d="m3 21 1.9-5.7a8.5 8.5 0 1 1 3.8 3.8z"/></svg>
            <span>
              {{ item.inner_comment }}
            </span>
            </div>
          </td>
          <td>
            <div class="no-single" v-for="(date,dateIndex) in item.dates" :key="dateIndex">
              <hr v-if="dateIndex>0">
              <span>
                {{ formatStatus(date.start_date,date.end_date) }}
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    </div> 
  </main>
</template>

<script setup>
import data from '../../data.json';
import {computed,ref} from 'vue'
import MyInput from '../components/MyInput.vue';
import MySelect from '../components/MySelect.vue';

const jsonData = ref([...data])
const columns = {
  o_id:{ value:"o_id", name:'Id'},
  client_name:{ value:"client_name", name:'Клиент'},
  diets:{ value:"diets", name:'Диеты'},
  tariff:{ value:"tariff", name:'Тарифы'},
  address:{ value:"address", name:'Адрес'},
  phone:{ value:"phone", name:'Телефон'},
  dates:{ value:"dates", name:'Даты'},
  pay:{ value:"order_sum", name:'Оплата'},
  courier_comment:{ value:"courier_comment", name:'Курьер'},
  inner_comment:{ value:"inner_comment", name:'Сервис'},
  status:{ value:"status", name:'Статус'},
}
const sortKey = ref('');
const sortOrder = ref(1);
const inputValue = ref('')
const sortKeyValue = ref(null)
const shouldBlink = ref(false)

function formatDate(dateString) {
  const date = new Date(dateString);
  return date.toLocaleDateString('ru', {
    day: '2-digit',
    month: '2-digit',
    year: '2-digit'
  });
}
function calculateDays(date) {
  const currentDate = new Date();
  return Math.ceil((new Date(date) - currentDate) / (1000 * 60 * 60 * 24));
}

function formatStatus(startDate, endDate) {
  const daysBefore = calculateDays(startDate);
  const daysAfter = calculateDays(endDate);

  if (daysBefore > 0) {
    return `Начинается через ${daysBefore} дней`;
  }
  if (daysAfter < 0) {
    return `закончилось ${Math.abs(daysAfter)} дней назад`;
  }
  if (daysAfter === 0) {
    return `заканчивается сегодня`;
  }
  if (daysAfter === 1) {
    return `заканчивается завтра`;
  }
  return `заканчивается через ${daysAfter} дней`;
}

function handleClick(column) {
  if(sortKey.value==column.value){
    sortOrder.value *= -1;
  }
  else{
    sortKey.value=column.value
    sortOrder.value = -1
  }
}

function check(){
  if(!sortKeyValue.value){
    shouldBlink.value = true
    setTimeout(() => {
        shouldBlink.value = false; 
      }, 500);
  }
}

const sortedData = computed(() => {
  const compareFunction = (a, b) => {
    const valA = a[sortKey.value];
    const valB = b[sortKey.value];

    if (sortKey.value === 'dates') {
      const dateA = sortOrder.value === 1 ? new Date(Math.min(...valA.map(date => new Date(date.start_date)))) : new Date(Math.max(...valA.map(date => new Date(date.start_date))));
      const dateB = sortOrder.value === 1 ? new Date(Math.max(...valB.map(date => new Date(date.start_date)))) : new Date(Math.min(...valB.map(date => new Date(date.start_date))));
      return (dateA - dateB)*sortOrder.value;
    
    } 
    else if(sortKey.value === "status"){
      const startDateA = new Date(a.dates[0].start_date);
      const startDateB = new Date(b.dates[0].start_date);
      const endDateA = new Date(a.dates[0].end_date);
      const endDateB = new Date(b.dates[0].end_date);
      const currentDate = new Date();

      if (startDateA <= currentDate && startDateB <= currentDate) {
        return (endDateA - endDateB)*sortOrder.value;
      } else if (startDateA <= currentDate) {
        return -1*sortOrder.value;
      } else if (startDateB <= currentDate) {
        return 1*sortOrder.value;
      } else {
        return (startDateA - startDateB)*sortOrder.value;
      }
    }
    else {
      if (valA < valB) {
        return -1 * sortOrder.value;
      }
      if (valA > valB) {
        return 1 * sortOrder.value;
      }
      return 0;
    }
  };

  return [...jsonData.value].sort(compareFunction);
});
const sortedSearchedData = computed(() => {
  const lowerInputValue = inputValue.value.toLowerCase();

  if (lowerInputValue === '' && sortKeyValue.value === '') {
    return sortedData.value;
  }

  return sortedData.value.filter(item => {
    const lowerSortKeyValue = String(item[sortKeyValue.value]).toLowerCase();
    return lowerSortKeyValue.includes(lowerInputValue);
  });
});

</script>
<style scoped>

.search{
  margin: 15px;
  height: 70px;
  display: flex;
  width: 50vw;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.container {
  overflow-x: auto;
}

table thead th {
	font-weight: bold;
	padding: 10px 15px;
	background: #000000;
}

table tbody td {
  text-align: center;
  
  border: none;
	padding: 10px 15px;
	font-size: 14px;
}
table tbody tr:nth-child(even) {
	background: #111010;
}
table tbody tr:nth-child(odd) {
	background: #1e1e1e;
}

.no-single span{
  display: block;
}
.no-single hr{
  width: 90%;
  margin: auto;
}
.comment{
  border: 1px red dotted;
  text-align: left;
  margin: 5px;
  padding: 5px;
}
.comment svg{
  line-height: 5px;
  top: 5px;
  margin-bottom: -6px;
  padding-right: 5px;
}
.column-title{
  cursor: pointer;
}
.column-title svg{
  margin-bottom: -7px;
  width: 14px;
  transition: transform 0.3s;
}


.icon-up{
  transform: rotate(90deg);
}
.icon-down{
  transform: rotate(-90deg);
}
@keyframes blink {
  0% {
    border-color: red;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: red;
  }
}

.blinking-border {
  border: white solid;
  display: block;
  animation: blink 0.5s infinite;
}
</style>
