  <template>
    <div class="home">
      <h1>PrivateCRM</h1>
        <RouterLink class="my-btn" to="/about">
          <MyButton>
            Test task
          </MyButton>
      </RouterLink>
    </div>
  </template>

  <script>
  import MyButton from '../components/MyButton.vue';
  export default {
    components: {
      MyButton
    }
  }
  </script>

  <style>
  .home {
      text-align: center;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  </style>