<template>
    <button class="my-btn">
      <slot></slot>
    </button>
  </template>
  
  <script>
  export default {
    name: 'my-button'
  }
  </script>
  
  <style scoped>
 .my-btn {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 0 auto;
    width: 300px;
    color: white;
    text-decoration: none;
  }
 
  .my-btn:hover {
      border-color: #646cff;
  }
  .my-btn:focus,
  .my-btn:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
  }
  </style>