<template>
    <input class="my-input" v-model="inputValue" :placeholder="placeholder" @input="handleInput"  :disabled="isDisabled"/>
    
  </template>
  
  <script>
  export default {
    props: {
      placeholder: {
        type: String,
        default: 'Enter text...'
      },
      isDisabled: {
        type: Boolean,
        default: false
    }
    },
    data() {
      return {
        inputValue: ''
      };
    },
    methods: {
      handleInput(event) {
        this.inputValue = event.target.value;
        this.$emit('update:modelValue', this.inputValue);
      }
    }
  };
  </script>
  <style scoped>
 .my-input {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    transition: border-color 0.25s;
    width: 300px;
    color: white;
    text-decoration: none;
  }
 
  .my-input:hover {
      border-color: #646cff;
  }
  .my-input:focus,
  .my-input:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
  }
  </style>