<template>
    <div class="select-container">
        <select class="my-select" v-model="selectedValue" @change="changeOption">
            <option disabled value="null">Сперва выберите из списка</option>
      <option
        v-for="option in options"
        :key="option.value"
        :value="option.value"
      >
        {{ option.name }}
      </option>
    </select>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
    </div>
    
  </template>
  
  <script>
  export default {
    name: 'my-select',
    props: {
      options: {
        type: Object,
        default: () => {}
      }
    },
    data() {
      return {
        selectedValue: this.options.length > 0 ? "null" : null
      };
    },
    methods: {
      changeOption(event) {
        this.selectedValue = event.target.value;
        this.$emit('update:modelValue', this.selectedValue);
      }
    }
  }
  </script>


  


  <style scoped>
.my-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 250px;
  margin: 0 auto;
}

/* Styling for select on hover */
.my-select:hover {
  border-color: #646cff;
}

/* Styling for select on focus */
.my-select:focus {
  outline: 4px auto -webkit-focus-ring-color;
}
.my-select option:hover {
    background-color: #1a1a1a;
}
.select-container{
    position: relative;
    display: inline;
}
.select-container svg{
    transform: rotate(90deg);
    width: 15px;
    position: absolute;
    right: 5px;
    top: 8px;
}

  </style>